body {
	margin: 0px;
	padding: 0px;
	background-color: #EFEFEF;
	font-family:'Trebuchet MS', Verdana, Arial, Helvetica;
	font-size:12px;
	color:#333333;	
}
form {
	margin:0px;
	padding:0px;
}
fieldset {
	padding:4px;
}
#bgWaitMessage {
	position:absolute;
	left:5px;
	top:4px;
	width:777px;
	height:685px;
	overflow:hidden;
	z-index:1;
	background-color: #333333;
	filter:alpha(opacity=20);
    -moz-opacity:0.2;
    opacity:0.3;
    
}
#waitMessage {
	position:absolute;
	border: 1px solid #666666;
	/*background-image: url(../img/bg-header.jpg);*/
	background:#FFFFFF;
	height:34px;
	width:200px;
	top:300px;
	left:20px;
	z-index:3;
	vertical-align:middle;
	padding-top:5px;
}
#header2 {
	/*background-image: url(../img/bg-header.jpg);*/
	height:89px;
	padding:6px;
}
#container {
	width:785px;
	border: 1px solid #666666;
}#container #header #companyContainer {
	margin: 5px;
	text-alignment: right;
}#searchItemInformation input {
	border:0px solid blue;
	margin:0px;
	padding:0px;
}#companyContainer input {
	border:0px solid;
	margin:0px 2px 0px 0px;
	padding:0px;
}
.clear {
	clear:both;
	height:12px;
}
#container #header #taskContainer {
	text-align: right;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#container #mainContainer {
	padding: 10px;
}
h2 {
	font-size: 16px;
	font-style: normal;
	line-height: 25px;
	font-weight: bold;
}
#leftColumn {
	float:left;
}
#centerColumnLogin {
	float:none;
	width:425px;
}

#rightColumn {
	float:right;
}#container #mainContainer #leftColumn {
	width: 55%;
}
#container #mainContainer #rightColumn {
	width: 44%;
}
.formField {
	width:98%;
	margin:6px;
	text-align:right;
}
.smallFormField {
	margin:2px 2px 2px 2px;
	text-align:right;
	font-size:12px;
	width:49%;
}
.smallFormField input, select, textarea {
	font-size:10px;
}
input, textarea {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	border: 1px solid #B7B7B7;
	padding: 4px;
	width: auto;
}
.Button {
	padding:5px;
	font-weight:bold;
	background:#E0E0E0;
}
#container #mainContainer #agentContainer {
	background-color: #E4E4E4;
	padding: 15px;
	border: 1px solid #B7B7B7;
}
#container #agentContainer #agentImg {
	float: left;
	width: 6%;
}
#container #mainContainer #agentContainer #agentInfo {
	float: right;
	width: 93%;
	text-align: left;
}
.error {
	font-size: 12px;
	font-style: normal;
	color: #FF0000;
	text-align: center;
	margin: 2px;
	padding: 4px;
	border: 1px solid #FF0000;
}
.success {
	font-size: 12px;
	font-style: normal;
	color: #479E38;
	text-align: center;
	margin: 2px;
	padding: 4px;
	border: 1px solid #479E38;
}
#debug {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #FF9999;
	margin: 4px;
	padding: 4px;
	border: 1px solid #000000;
}
#searchItemInformation {
	width: 100%;
	border: 1px solid #000000;
	padding:2px;
	margin-bottom:5px;
}
#searchItemInformation h3 {
	background-color: #DDDDDD;
	font-size:14px;
	font-weight:bold;
	padding: 2px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
}
#searchItemInformation p {
	margin: 2px 2px 4px 2px;
	font-size:11px;
}
#searchItemInformation .roomStatus {
	font-size: 12px;
	background-color: #DDDDDD;
	text-align: center;
	margin: 3px 0px 3px 0px;
	padding: 1px;
}
#searchItemInformation .roomRates {
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-align: right;
}
#sortHotelResults {
	padding: 4px;
	margin-bottom: 4px;
	border: 1px solid #CCCCCC;
	width: 100%;
	text-align: center;
}
#container #header img {
	margin: 8px;
}
.lider {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border:solid #666666 1px;
	background-color:#CCCCCC;
}
.liderTextBox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border:solid #666666 1px;
	background-color:#CCCCCC;
	height:10px;
}
.liderTextBoxBig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	border:solid #666666 1px;
	background-color:#CCCCCC;
}
.liderCombo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border:solid #666666 1px;
	background-color:#CCCCCC;
	height:25px;
}

.map{
        width:720px;
        height:100%;
}
.header_ {
background-image:url(img/header.jpg);
width:960px;
height:96px;
margin-left:3px;
margin-top:3px; 
border: 1px solid #666666;

}
.header {
background-image:url(../img/nuevo_header.png);
width:960px;
height:100px;
margin-left: 2px;
}
.headerMenu {
	width:35px;
	height:37px;
        position:absolute;
        top:68px;
        left:900px;
	z-index:1;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	float:right;
	
}
.headerMenub {
	width:35px;
	height:37px;
	z-index:1;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	-moz-opacity:0.8;
	filter:alpha(opacity=50);
	float:right;
}

.header1024 {
background-image:url(http://www.cordobamaps.com/img/header_1024.jpg);
width:1023px;
height:104px;
margin-left:3px;
margin-top:3px; 
border: 1px solid #666666;

}
.close {

width: 245px; 


}
.text1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.bigPjFont {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:24px;
border: solid 1px #000000;

}
.pjTitle{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:36px;
text-align:center;
border: solid 1px #000000;

}
.pjNormal{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
text-align:center;
}
.table {
border: solid 1px #333333;
}

#botonera {
height:70px;
padding:5px;
margin-top:3px; 
margin-left:3px; 
vertical-align:middle; 
width:950px; 
border: 1px solid #666666;
}
#menuAdmin {
height:20px;
padding:5px;
margin-top:3px; 
margin-left:3px; 
vertical-align:middle; 
width:950px; 
border: 1px solid #666666;
}
#BGwait {
	display: none;
	vertical-align:center;
	border: 1px solid #666666;	
	background-color: #FFFFFF;
	padding:5px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	z-index: 5;
	height: 170px;
	width: 245px;
	right: 400px;
	top: 200px;

}
#SHwait {
	background-color: #000000;
	filter:alpha(opacity=30);
    -moz-opacity:0.3;
      opacity:0.3;
	position: absolute;
	z-index: 4;
	height: 170px;
	width: 245px;
	right: 400px;
	top: 200px;
	display: none;	

}
.boton {
	height:50px; 
	width:50px; 
	margin-right:5px; 
	cursor:pointer; 
	padding:5px; 
	border: solid 1px; 
	background-color:#FFFFFF; 
	vertical-align:middle;
	padding-top:3px;

}
.boton:hover {
color: #00AA00;
border: solid 1px; 
font-weight: bold;
padding-top:4px;
}
.leftColumn {
margin-left:3px;
margin-top:3px;
left:3px;
width:130px;
border:solid 1px;
position:absolute;
height:500px;

}
.rightColumn {
margin-left:8px;
margin-top:3px;
left:133px;
position:absolute;
width:823px;
border:solid 1px;
height:500px;
}
span.highlight
{
background-color:yellow
}
.main2 {
    width:760px;
    height:852px;
    border: 1px solid #B7B7B7;
    float:right;
    
}
#wrap {
margin: 0 auto;
width: 960px;
}

.fotoSmall{
	float:left;
	margin-right:7px;
	border: 1px solid #B7B7B7;
	padding: 2px;
	background-color:white;
}

